@CHARSET "ISO-8859-1";

body {
	height: 100%;
	widht: 100%;
	margin: 0;
}

noscript {
	font: 32px helvetica, calibri, arial, sans-serif;
	color: #5D5D5D;
}

#navBar {
	background-color: #5D5D5D;
	padding-left: 0px;
	height: 46px;
	width: 100%;
	position: fixed;
	display: inline;
}

.nav_btn {
	font: 14px helvetica, calibri, arial, sans-serif;
	color: #DCDCDC;
	background-color: inherit;
	padding: 12px 10px 12px 10px;
	cursor: default;
	margin: 0px;
}

.nav_btn:HOVER {
	background-color: #4A4A4A;
}

.nav_btn_focused {
	font: 14px helvetica, calibri, arial, sans-serif;
	color: #DCDCDC;
	background-color: #6D6D6D;
	padding: 12px 10px 12px 10px;
	cursor: default;
	margin: 0px;
}

.nav_btn_focused:HOVER {
	background-color: #4A4A4A;
}

#loginBtn {
	font: 14px helvetica, calibri, arial, sans-serif;
	color: #DCDCDC;
	background-color: inherit;
	line-height: 41px;
	cursor: default;
	float: right;
	margin: 2px 2px 0px 0px;
}

#loginBtn img {
	float: left;
	padding: 5px 8px 0px 10px;
}

#loginBtn .login_lbl {
	float: right; 
	padding-right: 10px;
}

#loginBtn:HOVER {
	background-color: #4A4A4A;
}

.login_background {
	position: fixed;
	top: 0px;
    left: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.login_form {
	position: fixed;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	margin-top: -125px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: #DCDCDC;
	padding: 10px;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
}

.login_form table {
	margin: auto;
}

.login_form tbody {
	text-align: left;
}

.login_form tfoot a{
	margin-top: 50px;
}

.login_form .login_lbl {
	color: #5D5D5D;
	font: 24px helvetica, calibri, arial, sans-serif;
	font-style: normal;
	text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.30);
}

.btn {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
	line-height: 20px;
	vertical-align: middle;
	font: 12px helvetica, calibri, arial, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 0px rgba(70, 70, 70, 0.70);
	padding: 5px 10px 5px;
}

.btn_green {
	background: linear-gradient(to bottom, #33D633, #00CC00);
	border-color: #535353;
}