@CHARSET "ISO-8859-1";

body {
	height: 100%;
	widht: 100%;
	margin: 0;
}

#nav_bar {
	background-color: #5D5D5D;
	padding-left: 0px;
	height: 46px;
	width: 100%;
	position: fixed;
	display: inline;
}

.nav_btn {
	font: 14px helvetica, calibri, arial, sans-serif;
	color: #DCDCDC;
	background-color: inherit;
	padding: 12px 10px 12px 10px;
	cursor: default;
	margin: 0px;
}

.nav_btn:HOVER {
	background-color: #4A4A4A;
}

.nav_btn_focused {
	font: 14px helvetica, calibri, arial, sans-serif;
	color: #DCDCDC;
	background-color: #6D6D6D;
	padding: 12px 10px 12px 10px;
	cursor: default;
	margin: 0px;
}

.nav_btn_focused:HOVER {
	background-color: #4A4A4A;
}

#login {
	font: 14px helvetica, calibri, arial, sans-serif;
	color: #DCDCDC;
	background-color: inherit;
	line-height: 42px;
	cursor: default;
	float: right;
	margin: 2px 2px 0px 0px;
}

#login img {
	float: left;
	padding: 5px 8px 0px 10px;
}

#login .login_lbl {
	float: right; 
	padding-right: 10px;
}

#login:HOVER {
	background-color: #4A4A4A;
}

@-moz-keyframes darken {
	from {opacity: 0.1;}
	to {opacity: 0.5;}
}

@-webkit-keyframes darken {
	from {opacity: 0.1;}
	to {opacity: 0.5;}
}

@keyframes darken {
	from {opacity: 0.1;}
	to {opacity: 0.5;}
}

.login_container_hidden {
	display: none;
	height: 250px;
	width: 250px;
}

.login_container_visible {
	position: fixed;
	top: 0px;
    left: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	animation-name: darken;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.win_container_visible {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}

.win_container_hidden {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: none;
}

.win_login {
	position: absolute;
	width: 250px;
	height: 250px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	border-radius: 20px;
	background-color: #DCDCDC;
	padding: 10px;
	z-index: 2;
}

.win_login .login_lbl {
	color: #5D5D5D;
	font: 24px helvetica, calibri, arial, sans-serif;
	font-style: normal;
	text-shadow: gray;
}